.header {
    padding: 10px;
    background-color: #12223D;
    display: flex;
    justify-content: space-evenly;
}
.link {
    padding: 10px 20px; 
    background-color: #ffffffa2;
    min-width: 150px;
    text-align: center;
    text-decoration: none;
    color: black;
    border-radius: 25px;

}
.link:hover {
    background-color: #ffffffe8;
    box-shadow: 0px 0px 10px #ffffffd5
}
.link:active {
    background-color: #ffffffa2;
}

.main {
    padding-top: 10px;
}

#titulo {
    margin-bottom: 30px;
}

#contenido p {
    margin: 0;
    text-align: center;
}

.bloqueContenido {
    padding: 20px;
}

.contenido {
    background: white;
    border: 1px solid transparent;
    border-radius: 10px;
    /* min-height: 30vh; */
    box-shadow: 0px 0px 5px rgba(234, 234, 234, 0.616);
    margin-bottom: 20px;
    min-height: 125px;
}

.imagen img{
    display: block;
    margin: 0 auto 20px;
}