@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
* {
    font-family: 'Montserrat' !important; 
}
body {
    margin: 0;
    background: linear-gradient(#6f9ae6ab, white);
    min-height: 100vh;
}
/* body::-webkit-scrollbar {
    display: none;
} */
h1, h2, h3, h4 {
    margin: 0;
}

a {
    margin: 0;
}

.fs-10 {
    font-size: 10px;
}
.fs-18 {
    font-size: 18px;
}
.fs-20 {
    font-size: 20px;
    margin-top: 10px !important;
}
.fs-25 {
    font-size: 25px;
}
.fs-30 {
    font-size: 30px;
}
.fs-35 {
    font-size: 35px;
}
.fs-40 {
    font-size: 40px;
}

.center {
    text-align: center;
}

.noMargin {
    margin: 4px 0;
}
.noMarginB {
    margin-bottom: 6px 0;
}
.noMarginT {
    margin-top: 6px 0;
}

a {
    font-size: 16px !important;
    color: #1662e6;
    text-decoration: none;
}

a:hover {
    color: #3d79e0;
}
